:root {
  --primary: #1C5CA3;
  --light-bg: #FBFBFB;
}

body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

hr {
  margin: 1em;
  width: 15em;
  margin-left: calc(50% - 7.5em);
  border: none;
  height: 2px;
  background-color: var(--primary);
}

.btn {
  background: var(--primary);
  border: 1px solid var(--primary);
  color: white;
  border-radius: 50px;
  padding: 0.2em 1em;
  margin: 0.2em;
}

.btn:hover {
  background: white;
  border: 1px solid white;
  color: var(--primary);
}

.navbar {
  padding: 0;
  transition: background 0.5s;
}

.navbar-brand, a.nav-link {
  color: white;
}

.navbar-brand {
  font-size: 2em;
}

a.nav-link {
  font-size: 1.2em;
  padding: 0.5em 5em;
}

a.nav-link:hover {
  color: var(--primary);
  background: white;
  transition: all 0.5s;
}

.scrolled {
  background: var(--primary);
  transition: background 0.5s;
}

.landing-screen {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../assets/generator.jpg");
  background-size: cover;
  height: 110vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.landing-screen h1 {
  font-size: 10em;
}

.landing-screen h3 {
  font-size: 2em;
}

.landing-screen .btn {
  font-size: 1.5em;
}

/*.about-us {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 85%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 85%);
}*/

.about-us .row {
  display: flex;
  align-items: center;
}

.about-us h2 {
  text-align: center;
}

.features {
  background: var(--light-bg);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 85%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 85%);
  text-align: center;
}

.features-2 {
  background: var(--light-bg);
  /*-webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);*/
  margin-bottom: -3em;
  text-align: center;
}

.features img, .features-2 img {
  width: 50%;
}

.contacts {
  background: var(--primary);
  color: white;
  -webkit-clip-path: polygon(0 3em, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 3em, 100% 0, 100% 100%, 0% 100%);
  text-align: center;
}

.contacts hr {
  background-color: var(--light-bg);
}

.footer {
  background: var(--primary);
  color: white;
  border-top: 0.1px solid var(--light-bg);
  text-align: center;
  padding: .5em 0;
}

.footer p {
  margin: 0;
}
