:root {
  --primary: #1C5CA3;
  --light-bg: #FBFBFB;
}

body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

hr {
  margin: 1em;
  width: 15em;
  margin-left: calc(50% - 7.5em);
  border: none;
  height: 2px;
  background-color: var(--primary);
}

.landing-screen {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../assets/generator.jpg");
  background-size: cover;
  height: 110vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

/*.about-us {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 85%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 85%);
}*/

.about-us .row {
  display: flex;
  align-items: center;
}

.about-us h2 {
  text-align: center;
}

.features {
  background: var(--light-bg);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 85%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 85%);
  text-align: center;
}

.features img {
  width: 50%;
}

.contacts {
  background: var(--primary);
  color: white;
  -webkit-clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
  text-align: center;
}

.contacts hr {
  background-color: var(--light-bg);
}

.footer {
  background: var(--primary);
  color: white;
  border-top: 0.1px solid var(--light-bg);
  text-align: center;
  padding: .5em 0;
}

.footer p {
  margin: 0;
}
