.landing-screen {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../assets/generator.jpg");
  background-size: cover;
  height: 50vh;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.landing-screen h1 {
  font-size: 5em;
}

.landing-screen h3 {
  font-size: 1.5em;
}

.card {
  text-align: center;
}

.card-title {
  font-size: 3em;
}

.contacts {
  background: var(--primary);
  color: white;
  -webkit-clip-path: polygon(0 0, 100% 15%;
  , 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0% 100%);
  text-align: center;
}

@media only screen and (max-width: 425px) {
  .landing-screen {
    height: 30vh;
  }
  .landing-screen h1 {
    font-size: 3em;
  }
  .landing-screen h3 {
    font-size: 1.2em;
  }
}
